$mdc-theme-primary: #3f51b5; // indigo
$mdc-theme-accent: #009688;  // teal-5700
$mdc-theme-background: #fff;

@import "material-components-web/material-components-web";

$primary-dark-color: #002984;
$primary-light-color: #757de8;

body {
  margin: 0;
}

footer {
  background-color: $primary-light-color;
  padding: 20px;
}
.clear-icon {
  &:hover {
    cursor: pointer;
  }
}